body {
    background-image: url('fondo.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* La imagen de fondo se queda fija al hacer scroll */
    background-position: center; /* Centra la imagen de fondo */
}

p{
    color: rgb(122, 255, 166);
}

h1{
    color: aliceblue;
}
h2{
    color: rgb(122, 255, 166);
}
li{
    color: rgb(122, 255, 166);
}

.faltante{
    color: rgb(255, 0, 0);

}

#ingrediente_secreto{
    color: rgb(255, 196, 0);
}