body {
    background-image: url('fondo.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* La imagen de fondo se queda fija al hacer scroll */
    background-position: center; /* Centra la imagen de fondo */
}

h1{
    color: rgb(255, 50, 50);
}

p{
    color: rgb(255, 255, 255);
    font-style: italic;
}

form{
    color: rgb(9, 255, 0);
}

h2{
    color: rgb(209, 0, 174);
}

ul{
    color: rgb(9, 255, 0);
}

.faltante{
    color: rgb(255, 0, 0);
}

#ingrediente_secreto{
    color: blue;
}
